.env
.venv
state_raw/
state_vectors/
website/
websites/
train.jsonl
chunker-new-results/
cleaned_websites/
cleaned_websites-co/
cleaned_websites-ny/
cleaned_websites-ma/
cleaned_websites-ca/
cleaned_websites-wa/
cleaned_websites-ri/
cleaned_websites-dc/
cleaned_websites-ct/
cleaned_websites-nj/
cleaned_websites-or/
websites-co/
websites-ny/
websites-ma/
websites-ca/
websites-wa/
websites-ri/
websites-dc/
websites-ct/
websites-nj/
websites-or/
*.jsonl
pdfs/